*{margin:0px;padding: 0px;
    box-sizing: border-box;
    font-size: 100%;}
h1{text-align: center;
    background-color: #746e3b;
    padding:10px;color: #feffb6;text-transform: uppercase;}

p{text-align: justify;
    padding: 10px;}

ul{padding: 10px;}
abbr{text-decoration: none;}
li{text-transform: capitalize;list-style:none;
    cursor: pointer;float: left;padding: 20px;text-transform: uppercase;}

.container{background-color: #8b886c;width: 100%;height: 100%;
    color:#feffb6;
    flex-direction: column;align-items:center;
    display: flex;}